<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Doctor menu</title>
</head>
<body>
    <div class="navbarCustom">
        <a class="active" id="Title"><b>Welcome back, Doctor [[${#request.userPrincipal.principal.username}]]</b></a>
        <a id="links" href="#about">About</a>
        <a href="#" th:href="@{/logout}" id="logout">Log Out</a>
        </div> 
</body>
</html>