<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search by doctor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/hospitalIcon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('th').each(function(col) {
                $(this).click(function() {
                    if ($(this).hasClass('asc')) {
                        $('table').find('tbody > tr').sort(function(a, b) {
                            return $('td:eq(' + col + ')', b).text().localeCompare($('td:eq(' + col + ')', a).text());
                        }).appendTo('table');
                        $(this).removeClass('asc').addClass('desc');
                    } else {
                        $('table').find('tbody > tr').sort(function(a, b) {
                            return $('td:eq(' + col + ')', a).text().localeCompare($('td:eq(' + col + ')', b).text());
                        }).appendTo('table');
                        $(this).removeClass('desc').addClass('asc');
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="navbarCustom">
    <a class="active" id="Title"><b>Welcome back, Doctor [[${#request.userPrincipal.principal.username}]]</b></a>
    <a id="links" href="/doctors/menu">Menu</a>
    <a href="#" th:href="@{/logout}" id="logout"><i class="fa fa-sign-out" style="color: white;"> Log Out</i></a>
</div>
<form th:action="@{/doctors/searchDoctors}" method="post">
    <select id="doctor" name="doctor" class="form-control" style="text-align:center;" required>
        <option value="hide" disabled selected hidden>Select doctor</option>
        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.id} + ' - ' + ${doctor.firstName}"></option>
    </select>
    <button type="submit" style="margin-left:48%;  color:white;" class="btn btn-primary">Find</button>
</form>


<div class="tableContainer">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="asc">id</th>
            <th scope="col" class="asc">Date&Time</th>
            <th scope="col" class="asc">Patient ID</th>
            <th scope="col" class="asc">Patient Name</th>
            <th scope="col" class="asc">Review type</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.id}"></td>
            <td th:text="${appointment.getDateTime2()}"></td>
            <td th:text="${appointment.patient.id}"></td>
            <td th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></td>
            <td th:text="${appointment.KindOfReview}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>